---
import frittyPicture1 from "../frittyPic1.png";
import frittyPicture2 from "../frittyPic2.png";
import frittyPicture3 from "../frittyPic3.png";
import { Image } from "astro:assets";
---

<div class="h-screen grid grid-cols-2 grid-rows-2 gap-4 p-4">
  <div class="flex justify-around items-center">
    <div class="rotate-2">
      <Image
        src={frittyPicture1}
        alt="frittyPicture1"
        class="object-cover h-64 w-32 rounded-xl"
        loading="eager"
      />
    </div>
    <div class="-rotate-3">
      <Image
        src={frittyPicture2}
        alt="frittyPicture2"
        class="object-cover h-64 w-32 rounded-xl"
        loading="eager"
      />
    </div>
    <div class="rotate-2">
      <Image
        src={frittyPicture3}
        alt="frittyPicture3"
        class="object-cover h-64 w-32 rounded-xl"
        loading="eager"
      />
    </div>
  </div>
  <div
    class="flex justify-center items-center text-white text-xl leading-loose text-left"
  >
    Developed in Flutter in 2020, FrittyAnswer is a fun app where users pull
    fries from a virtual container to reveal quirky quotes. The app includes
    customization features and a salt shaker interaction with the character,
    Fritty.
  </div>

  <div class="flex justify-center items-center"></div>
  <div class="flex justify-center items-center">
    <p>Noch mehr Text hier unten.</p>
  </div>
</div>
